@{
    ViewData["Title"] = "Create game Page";
    Layout = null;
}

<form method="post">
    <div class="text-center">
        <h1 class="display-4">Auth</h1>
        <p>
            Login: <input name="name"/> <br/>
            Password: <input name="password"/> <br/>
            <button>Submit</button>
        </p>
    </div>
</form>