@{
    ViewData["Title"] = "Game Page";
}

<div class="text-center">
    <h1 class="display-4">Game</h1>
    <p>
        <a href='@Url.Action("Create", "Game")'>Create Game</a>
        <a href='@Url.Action("Join", "Game")'>Join existing game</a>
    </p>
</div>