@{
    ViewData["Title"] = "Register Page";
}

<form method="post">
    <div class="form-container">
        <label for="name"><b>Username</b></label>
        <input id="name" type="text" placeholder="Enter Username" name="name" required>

        <label for="password"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Register</button>
    </div>
</form>